// border radius helpers

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-tl($radius) {
  -moz-border-radius-topleft: $radius;
  -webkit-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-radius-tr($radius) {
  -moz-border-radius-topright: $radius;
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius-bl($radius) {
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-radius-br($radius) {
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-radius-left($radius) {
	@include border-radius-tl($radius);
	@include border-radius-bl($radius);
}

@mixin border-radius-right($radius) {
	@include border-radius-tr($radius);
	@include border-radius-br($radius);
}

@mixin border-radius-top($radius) {
	@include border-radius-tl($radius);
	@include border-radius-tr($radius);
}

@mixin border-radius-bottom($radius) {
	@include border-radius-bl($radius);
	@include border-radius-br($radius);
}

// shadow helpers

@mixin textshadow($alpha:0.4) {
	text-shadow: 0px 1px 1px rgba(0,0,0,$alpha);
}

// TODO: box shadow mixin

// miscellaneous

@mixin selectioncolor($color) {
    ::-moz-selection { 
        background: $color; 
        color: #fff; 
        text-shadow: none; 
    }

    ::selection { 
        background: $color; 
        color: #fff; 
        text-shadow: none; 
    }

    a:link { 
        -webkit-tap-highlight-color: $color; 
    }
}

@mixin imagereplacement {
    display: block; 
    text-indent: -999em; 
    overflow: hidden; 
    background-repeat: no-repeat; 
    text-align: left; 
    direction: ltr;
}

@mixin hidden {
    display: none;
    visibility: hidden;
}
