!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title TurboSass Example
    %link{:rel => "stylesheet", :href => "/style.css"}
  %body
    %h1 This is a Sinatra/TurboSass example
    %p And as you can see, it works perfectly!
